In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('raw_nino_flats_dataset.csv')
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1-комн,30 000 ₽/мес.,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,Залог 20 000 ₽,комиссия 60%,предоплата за 1 месяц,40 м²,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1-комн,18 000 ₽/мес.,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,Без залога,комиссия 60%,предоплата за 1 месяц,38 м²,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

### Избавляемся от лишних букв

In [3]:
df.isna().sum()

roomsCount           0
price                0
address              0
tel                  0
underground        590
undergroundTime    603
deposit             21
comission           21
prepay              21
total_area           0
living_area        491
kitchen_area       443
floor                0
build_year         297
lng                  0
lat                  0
description          0
link                 0
dtype: int64

Где нет NaN значений можем перевести строки в числа используя метод `replace()`. Для остальных используем цикл, где выполняем действия для непустых значений

In [4]:
df['roomsCount'] = [int(item.replace('-комн', '')) for x, item in df['roomsCount'].iteritems()]
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30 000 ₽/мес.,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,Залог 20 000 ₽,комиссия 60%,предоплата за 1 месяц,40 м²,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18 000 ₽/мес.,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,Без залога,комиссия 60%,предоплата за 1 месяц,38 м²,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [5]:
df['price'] = [int(item.replace(' ₽/мес.', '').replace(' ', '')) for x, item in df['price'].iteritems()]
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,Залог 20 000 ₽,комиссия 60%,предоплата за 1 месяц,40 м²,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,Без залога,комиссия 60%,предоплата за 1 месяц,38 м²,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [6]:
deposits = []
for x, item in df['deposit'].iteritems():
    if pd.notna(item):
        deposits.append(float(item.replace('Без залога', '0').replace('₽', '').replace('Залог', '').replace(' ', '')))
    else:
        deposits.append(item)
df['deposit'] = deposits
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,комиссия 60%,предоплата за 1 месяц,40 м²,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,комиссия 60%,предоплата за 1 месяц,38 м²,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [7]:
comissions = []
for x, item in df['comission'].iteritems():
    if pd.notna(item):
        comissions.append(float(item.replace('без комиссии', '0').replace('%', '').replace('комиссия ', '')))
    else:
        comissions.append(item)
df['comission'] = comissions
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,предоплата за 1 месяц,40 м²,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,предоплата за 1 месяц,38 м²,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [8]:
prepays = []
for x, item in df['prepay'].iteritems():
    if pd.notna(item):
        prepays.append(int(item.replace('без предоплаты', '0').replace('предоплата за ', '').replace(' месяца', '').replace(' месяц', '')))
    else:
        prepays.append(item)
df['prepay'] = prepays
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40 м²,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38 м²,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [9]:
total_areas = []
for x, item in df['total_area'].iteritems():
    if pd.notna(item):
        total_areas.append(float(item.replace(' м²', '').replace(',', '.')))
    else:
        total_areas.append(item)
df['total_area'] = total_areas
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40.0,20 м²,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38.0,20 м²,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [10]:
living_areas = []
for x, item in df['living_area'].iteritems():
    if pd.notna(item):
        living_areas.append(float(item.replace(' м²', '').replace(',', '.')))
    else:
        living_areas.append(item)
df['living_area'] = living_areas
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40.0,20.0,11 м²,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38.0,20.0,9 м²,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

In [11]:
kitchen_areas = []
for x, item in df['kitchen_area'].iteritems():
    if not pd.isna(item):
        kitchen_areas.append(float(item.replace(' м²', '').replace(',', '.')))
    else:
        kitchen_areas.append(item)
df['kitchen_area'] = kitchen_areas
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40.0,20.0,11.0,5 из 9,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38.0,20.0,9.0,6 из 12,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/

Этажи разделяем на два столбца: `floors` - номер этажа квартиры, и `floors_cnt` - общее количество этажей в доме.

In [12]:
floors = []
floor_cnts = []
for x, item in df['floor'].iteritems():
    if not pd.isna(item):
        floor, floor_cnt = item.split(' из ')
        floors.append(int(floor))
        floor_cnts.append(int(floor_cnt))
    else:
        floors.append(item)
        floor_cnts.append(item)
df['floor'] = floors
df['floor_cnt'] = floor_cnts
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,living_area,kitchen_area,floor,build_year,lng,lat,description,link,floor_cnt
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40.0,20.0,11.0,5,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/,9
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38.0,20.0,9.0,6,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/,12

Время до метро также разделяем на два слобца: `und_time` - время до метро, `und_type` - тип транспорта до метро. К тому же здесь можно сформировать новый столбец `und_dist` - примерное расстояние до метро. При `und_type = 'пешком'` считаем скорость **90** м/мин, при  `und_type = 'на транспорте'` считаем скорость **700** м/мин.

In [13]:
und_times = []
und_types = []
und_dists = []
for x, item in df['undergroundTime'].iteritems():
    if not pd.isna(item):
        und_time, und_type = item.split(' мин. ')
        und_times.append(int(und_time.replace('<', '')))
        und_types.append(und_type)
        if und_type == 'пешком':
            und_dists.append(int(und_time.replace('<', '')) * 90)
        elif und_type == 'на транспорте':
            und_dists.append(int(und_time.replace('<', '')) * 700)
    else:
        und_times.append(item)
        und_types.append(item)
        und_dists.append(item)
df['und_time'] = und_times
df['und_type'] = und_types
df['und_dist'] = und_dists
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,...,floor,build_year,lng,lat,description,link,floor_cnt,und_time,und_type,und_dist
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40.0,...,5,1976.0,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/,9,24.0,пешком,2160.0
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38.0,...,6,2005.0,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/,12,23.0,пешком,2070.0

### Заполняем пропуски

In [14]:
df.isna().sum()

roomsCount           0
price                0
address              0
tel                  0
underground        590
undergroundTime    603
deposit             21
comission           21
prepay              21
total_area           0
living_area        491
kitchen_area       443
floor                0
build_year         297
lng                  0
lat                  0
description          0
link                 0
floor_cnt            0
und_time           603
und_type           603
und_dist           603
dtype: int64

In [15]:
df.deposit.value_counts()

0.0        763
10000.0    100
15000.0     79
5000.0      67
20000.0     60
          ...
13500.0      1
26000.0      1
53000.0      1
28000.0      1
500.0        1
Name: deposit, Length: 68, dtype: int64

Видим, что у `deposit` больше всего значений 0, поэтому можно смело заполнить пропуски нулями

In [16]:
df.deposit.fillna(0, inplace=True)

In [17]:
df.comission.value_counts()

70.0     489
0.0      321
50.0     252
60.0     238
80.0      47
65.0      16
100.0     14
75.0      10
55.0       9
40.0       8
30.0       8
53.0       6
58.0       3
20.0       3
82.0       2
90.0       2
67.0       2
51.0       1
54.0       1
44.0       1
68.0       1
25.0       1
85.0       1
Name: comission, dtype: int64

У `comission` значение 0 второе по популярности, но если на сайте ничего не было заполнено, будем расценивать это как ноль

In [18]:
df.comission.fillna(0, inplace=True)

In [19]:
df.prepay.value_counts()

1.0    1335
0.0      87
2.0      14
Name: prepay, dtype: int64

У `prepay` практически все значения 1. Думаю, тут даже и комменитровать ничего не нужно

In [20]:
df.prepay.fillna(1, inplace=True)
df.prepay.value_counts()

1.0    1356
0.0      87
2.0      14
Name: prepay, dtype: int64

Для заполнения пропусков в `living_area` и `kitchen_area` формируем списки из `total_area` для каждой строки с пропуском умноженное на среднее отношение площади комнат и общей площади.

In [21]:
liv_fill = round(df.total_area[df.living_area.isna()] * df.living_area.mean() / df.total_area.mean(), 1)
df.living_area.fillna(liv_fill, inplace=True)

In [22]:
kitch_fill = round(df.total_area[df.kitchen_area.isna()] * df.kitchen_area.mean() / df.total_area.mean(), 1)
df.kitchen_area.fillna(kitch_fill, inplace=True)

Добавляем новые колонки: `first_pay` - сколько нужно будет заплатить сразу, сумма предоплаты, комиссии и депозита, `price_on_m` - цена за метр квадртаный.

In [23]:
df['first_pay'] = df.price * (df.prepay + df.comission/100) + df.deposit
df['price_on_m'] = round(df.price / df.total_area, 2)
df.head(2)

,roomsCount,price,address,tel,underground,undergroundTime,deposit,comission,prepay,total_area,...,lng,lat,description,link,floor_cnt,und_time,und_type,und_dist,first_pay,price_on_m
0,1,30000,"Нижегородская область, Нижний Новгород, р-н Ни...",tel:+79587282362,Горьковская,24 мин. пешком,20000.0,60.0,1.0,40.0,...,44.014134,56.326148,Сдается очень уютная и современная квартира ст...,https://nn.cian.ru/rent/flat/258002335/,9,24.0,пешком,2160.0,68000.0,750.00
1,1,18000,"Нижегородская область, Нижний Новгород, р-н Ка...",tel:+79587281852,Стрелка,23 мин. пешком,0.0,60.0,1.0,38.0,...,43.930699,56.346951,Сдаётся 1 комнатная квартира - студия. Только ...,https://nn.cian.ru/rent/flat/258046577/,12,23.0,пешком,2070.0,28800.0,473.68

In [24]:
df.isna().sum()

roomsCount           0
price                0
address              0
tel                  0
underground        590
undergroundTime    603
deposit              0
comission            0
prepay               0
total_area           0
living_area          0
kitchen_area         0
floor                0
build_year         297
lng                  0
lat                  0
description          0
link                 0
floor_cnt            0
und_time           603
und_type           603
und_dist           603
first_pay            0
price_on_m           0
dtype: int64

Информацию о метро и годе постройки заполнять не будем, так как там довольно много пропущено, а заполнение средними значениями приведет к неточности, да и вообще заполнение чем-либо не имеет смысла.

### Оформляем датасет и загружаем в файл

Переименуем колонки и расставим их в более удобном порядке

In [25]:
df = df.rename(columns={'roomsCount' : 'rooms', 'underground' : 'und'})
cols = ['rooms', 'price', 'price_on_m', 'first_pay', 'total_area', 'living_area', 'kitchen_area',
        'deposit', 'comission', 'prepay', 'und', 'und_time', 'und_type', 'und_dist', 'floor',
        'floor_cnt', 'build_year', 'lng', 'lat', 'link', 'tel', 'description']
df = df[cols]
df.head(2)

,rooms,price,price_on_m,first_pay,total_area,living_area,kitchen_area,deposit,comission,prepay,...,und_type,und_dist,floor,floor_cnt,build_year,lng,lat,link,tel,description
0,1,30000,750.00,68000.0,40.0,20.0,11.0,20000.0,60.0,1.0,...,пешком,2160.0,5,9,1976.0,44.014134,56.326148,https://nn.cian.ru/rent/flat/258002335/,tel:+79587282362,Сдается очень уютная и современная квартира ст...
1,1,18000,473.68,28800.0,38.0,20.0,9.0,0.0,60.0,1.0,...,пешком,2070.0,6,12,2005.0,43.930699,56.346951,https://nn.cian.ru/rent/flat/258046577/,tel:+79587281852,Сдаётся 1 комнатная квартира - студия. Только ...

In [26]:
df.to_csv('nino_flats_dataset.csv', index=False)

In [27]:
dff = pd.read_csv('nino_flats_dataset.csv')
dff.head(2)

,rooms,price,price_on_m,first_pay,total_area,living_area,kitchen_area,deposit,comission,prepay,...,und_type,und_dist,floor,floor_cnt,build_year,lng,lat,link,tel,description
0,1,30000,750.00,68000.0,40.0,20.0,11.0,20000.0,60.0,1.0,...,пешком,2160.0,5,9,1976.0,44.014134,56.326148,https://nn.cian.ru/rent/flat/258002335/,tel:+79587282362,Сдается очень уютная и современная квартира ст...
1,1,18000,473.68,28800.0,38.0,20.0,9.0,0.0,60.0,1.0,...,пешком,2070.0,6,12,2005.0,43.930699,56.346951,https://nn.cian.ru/rent/flat/258046577/,tel:+79587281852,Сдаётся 1 комнатная квартира - студия. Только ...